(The following schedule is preliminary, details might still change)
<div class="row">
  <div class="col-md-6">
    <h3>Thursday, Dec 16 (Day 1)</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>13:00</td>  <td>Welcome / Intro</td> </tr>
      <tr> <td>13:15</td>  <td>Automating Tasks with the Unix Shell</td> </tr>
      <tr> <td>14:30</td>  <td>Break</td> </tr>
      <tr> <td>14:45</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>15:45</td>  <td>Break</td> </tr>
      <tr> <td>16:00</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Friday, Dec 17 (Day 2)</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>14:30</td>  <td>Break</td> </tr>
      <tr> <td>14:45</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>15:45</td>  <td>Break</td> </tr>
      <tr> <td>16:00</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
    <div class="col-md-6">
    <h3>Monday, Dec 20 (Day 3)</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Programming with Python</td> </tr>
      <tr> <td>14:30</td>  <td>Break</td> </tr>
      <tr> <td>14:45</td>  <td>Programming with Python (Continued)</td> </tr>
      <tr> <td>15:45</td>  <td>Break</td> </tr>
      <tr> <td>16:00</td>  <td>Programming with Python (Continued)</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Tuesday, Dec 21 (Day 4)</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Programming with Python (Continued)</td> </tr>
      <tr> <td>14:30</td>  <td>Break</td> </tr>
      <tr> <td>14:45</td>  <td>Programming with Python (Continued)</td> </tr>
      <tr> <td>15:45</td>  <td>Break</td> </tr>
      <tr> <td>16:00</td>  <td>Programming with Python (Continued)</td> </tr>
      <tr> <td>16:45</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
